<form [formGroup]="form" (ngSubmit)="allDone()">
  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" type="text" class="form-control" id="title" autofocus>
  </div>
  <div class="form-group">
    <label for="artist">Artist</label>
    <input formControlName="artist" type="text" class="form-control" id="artist">
  </div>
  <div class="form-group">
    <label for="album">Album</label>
    <input formControlName="album" type="text" class="form-control" id="album">
  </div>
  <button type="submit" class="btn btn-primary">Add This Song</button>
</form>

<pre>
  {{ form.value | json }}
</pre>
